.seccion-principal {
 
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box; 
}

.contenedor {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;



}

.imagen {
    width: auto;
    height: 100px;
    background-color: white;
   
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(49, 47, 47);
    font-size: 20px;
}