.links-navegacion {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    color: white;
    
}
.links-navegacion li {
    color: darkslategrey;
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 15px;

}

.links-navegacion li:hover {
    background-color: rgb(180, 75, 180);
    border-radius: 50px;
    color: white;
}

.seccion-principal {
 
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px dotted gray;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box; 
}

.contenedor {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;



}

.imagen {
    width: auto;
    height: 100px;
    background-color: white;

   
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(49, 47, 47);
    font-size: 20px;
}